@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}
<h2>@ViewData["Title"]</h2>

<div class="text-center">
    <p>
        Are you allowed through security?
        You must be logged in and have a boarding pass number to enter
    </p>
    <p><a asp-page="Airport/AirportSecurity" class="btn btn-primary">Try to enter Security</a></p>
</div>